h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

:root {
  --title-color: #212121;
  --text-color: #757575;
  --tra: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --gra: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
}

body {
  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923;
  color: #000000;
  display: inline-block;
  padding-bottom: 25px;
  padding-top: 24px;
}

.navigation__logo {
  margin-right: 93px;
  text-decoration: none;
}

.logo__first {
  color: #2196f3;
}

.navigation {
  display: flex;
  align-items: center;
}

.menu {
  display: none;
  gap: 50px;
}
@media screen and (min-width: 768px) {
  .menu {
    display: flex;
    margin-right: 96px;
  }
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  margin-bottom: 0;
  border-bottom: 1px solid #ececec;
}

.menu__link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.02em;
  color: var(--title-color);
  display: inline-block;
  padding-bottom: 32px;
  padding-top: 32px;
  text-decoration: none;
  transition: color var(--tra);
}
.menu__link:hover, .menu__link:focus {
  color: #2196f3;
}

.menu__link.current {
  position: relative;
  color: #2196f3;
}

.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  margin-top: 28px;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  transform: translateY(1px);
}

.contact {
  display: none;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .contact {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .contact {
    display: flex;
    align-items: center;
  }
}

.contact__item {
  display: flex;
}

.contact__item:not(:last-child) {
  margin-bottom: 10px;
}
@media screen and (min-width: 1200px) {
  .contact__item:not(:last-child) {
    margin-bottom: 0;
  }
}

.contact__link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.02em;
  color: var(--text-color);
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  transition: color var(--tra), fill color;
}
.contact__link:hover, .contact__link:focus {
  color: #2196f3;
}

.contact__icon {
  fill: var(--text-color);
}
.contact__link:hover .contact__icon {
  fill: #2196f3;
}
.contact__link:focus .contact__icon {
  fill: #2196f3;
}

.menu-open {
  background: transparent;
  border: none;
}
@media screen and (min-width: 768px) {
  .menu-open {
    display: none;
  }
}

.mob-menu {
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  padding: 10px 15px 48px 40px;
}
.mob-menu > .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}
@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}

.menu-close {
  position: relative;
  display: block;
  margin-left: auto;
  width: 40px;
  height: 40px;
  padding: 11px;
  background-color: #ffffff;
  border: none;
}
.menu-close:hover .menu-close-icon, .menu-close:focus .menu-close-icon {
  fill: #2196f3;
}

.menu-close-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 19px;
  height: 19px;
  transform: translate(-50%, -50%);
  fill: #212121;
}

.menu-mob {
  margin-bottom: 306px;
}

.menu-mob__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-mob__item {
  color: #212121;
}

.menu-mob__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: #212121;
}
.menu-mob__link:hover, .menu-mob__link:focus {
  color: #2196f3;
}

.contact-mob {
  margin-bottom: 64px;
}

.contact-mob__link-mob {
  text-decoration: none;
  color: #2196f3;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.1764705882;
  letter-spacing: 0.02em;
}

.contact-mob__link {
  text-decoration: none;
  color: #757575;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
}

.mob-soc {
  display: flex;
  gap: 20px;
}

.mob-soc-link {
  text-decoration: none;
  color: #2196f3;
}

.title {
  font-size: 36px;
  line-height: 1.1667;
  text-align: center;
  color: var(--title-color);
}

.hero {
  padding: 118px 45px;
  max-width: 480px;
  background-color: rgba(47, 48, 58, 0.4);
  background-image: var(--gra), url(../images/hero-dg-mob.jpeg);
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: var(--gra), url(../images/hero-dg-mob-2x.jpeg);
  }
}
@media screen and (min-width: 480px) {
  .hero {
    background-image: var(--gra), url(../images/hero-bg-tab.jpeg);
  }
}
@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .hero {
    background-image: var(--gra), url(../images/hero-bg-tab-2x.jpeg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: var(--gra), url(../images/hero.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: var(--gra), url(../images/hero-2x.jpeg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
  }
}

.hero__title {
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__btn {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  border: none;
  border-radius: 4px;
  padding: 10px 30px;
  transition: color var(--tra), background-color var(--tra);
}
.hero__btn:hover, .hero__btn:focus {
  color: #2196f3;
  background-color: #ffffff;
}

.btn {
  margin: 0 auto;
}

.about {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .about {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.about__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.about__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .about__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .about__item {
    width: calc((100% - 90px) / 4);
  }
}

.about__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 450px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .about__icon {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .about__icon {
    width: 270px;
  }
}

.about__benefits {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428;
  text-transform: uppercase;
  color: var(--title-color);
}

.title__benefits {
  margin-top: 30px;
  margin-bottom: 10px;
}

.about__text {
  font-size: 14px;
  line-height: 1.7143;
  color: var(--text-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.example {
  padding-bottom: 84px;
  display: none;
}
@media screen and (min-width: 1200px) {
  .example {
    display: block;
  }
}

.example__list {
  display: flex;
  gap: 30px;
}

.example__title {
  margin-bottom: 50px;
}

.example__item {
  position: relative;
}

.example__text {
  position: absolute;
  bottom: 0;
  margin: 0;
  width: 100%;
  text-align: center;
  align-items: center;
  padding-top: 27px;
  padding-bottom: 27px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  background: rgba(47, 48, 58, 0.8);
  color: #ffffff;
}

.team {
  background-color: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team-container {
  padding-top: 30px;
  padding-bottom: 24px;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 1200px) {
  .team-container {
    padding-bottom: 30px;
  }
}

.title-item {
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .title-item {
    margin-bottom: 50px;
  }
}

.title-team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  margin-bottom: 10px;
}

.team-cards {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 4px 4px 0px hsla(0deg, 0%, 0%, 0.25);
  width: 100%;
}
@media screen and (min-width: 768px) {
  .team-cards {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team-cards {
    width: calc((100% - 90px) / 4);
  }
}

.title-team-text {
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  margin-bottom: 16px;
}

.list-team {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team-soc-item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.team-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  transition: color var(--tra), background-color var(--tra);
}
.team-soc-link:hover, .team-soc-link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.team-soc-icon {
  fill: currentColor;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-list {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.clients-link {
  width: 210px;
  height: 92px;
  box-sizing: border-box;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  transition: color var(--tra), border-color var(--tra);
}
.clients-link:hover, .clients-link:focus {
  border-color: #2196f3;
}
@media screen and (min-width: 768px) {
  .clients-link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients-link {
    width: 170px;
  }
}

.clients-icon {
  fill: currentColor;
}
.clients-link:hover .clients-icon {
  color: #2196f3;
}
.clients-link:focus .clients-icon {
  color: #2196f3;
}

.list-portfolio-type {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.filtr {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  color: var(--title-color);
  padding: 6px 22px;
  border-radius: 4px;
  background-color: #f5f4fa;
  border: none;
  font-family: inherit;
  transition: color var(--tra), background-color var(--tra), box-shadow var(--tra);
}
.filtr:hover, .filtr:focus {
  color: white;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px 0px hsla(0deg, 0%, 0%, 0.25);
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list-portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-item {
  width: 370px;
}

.portfolio-link {
  display: block;
  transition: box-shadow var(--tra);
}
.portfolio-link:hover, .portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.list-portfolio a {
  text-decoration: none;
}

.portfolio-top-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-top-text {
  position: absolute;
  top: 0;
  height: 100%;
  color: #ffffff;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 250ms linear;
  overflow: auto;
}
.portfolio-link:hover .portfolio-top-text {
  transform: translateY(0);
}

.title-cards {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.portfolio-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
  margin-bottom: 4px;
  width: 322px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.875;
  color: var(--text-color);
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer {
    display: flex;
  }
}

.logo-footer {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923;
  text-decoration: none;
  color: #ffffff;
}

.contacts {
  font-style: normal;
  margin-top: 26px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .contacts {
    align-items: flex-start;
  }
}

.contacts-text {
  font-size: 14px;
  line-height: 1.7143;
  color: #ffffff;
  margin-bottom: 9px;
}

.contacts-title {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.7143;
  color: rgba(255, 255, 255, 0.6);
}

.contacts-title-footer {
  margin-bottom: 9px;
}

.footer a {
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .footer-container {
    display: flex;
    justify-content: space-between;
  }
}

.footer-container-first {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .footer-container-first {
    flex-direction: row;
    justify-content: space-between;
    padding-left: 76px;
    padding-right: 89px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-container-first {
    align-items: flex-start;
    padding: 0;
    justify-content: flex-start;
  }
}

.mob-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .mob-footer {
    align-items: flex-start;
    margin-right: 70px;
  }
}

.footer-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 12px;
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer-wrap {
    align-items: flex-start;
  }
}

.footer-wrap h2 {
  margin-bottom: 20px;
}

.footer-title {
  font-size: 14px;
  color: #ffffff;
}

.footer-list {
  display: flex;
  gap: 10px;
}

.footer-item {
  width: 44px;
  height: 44px;
}

.footer-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  transition: background-color var(--tra);
}
.footer-link:hover, .footer-link:focus {
  background-color: #2196f3;
}

.footer-icon {
  fill: currentColor;
}

.footer-modal-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 12px;
}
@media screen and (min-width: 1200px) {
  .footer-modal-wrap {
    align-items: flex-start;
    margin-left: 94px;
  }
}

.footer-modal-wrap .footer-title {
  margin-bottom: 20px;
}

.footer-input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: #2f303a;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  margin-right: 12px;
  margin-top: auto;
}

.footer-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .footer-modal {
    flex-direction: row;
  }
}

.footer-modal-btn {
  padding: 10px 28px;
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.footer-modal-icon {
  fill: currentColor;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms linear, visibility 250ms linear;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms linear;
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-close:focus .modal-close-icon {
  fill: #2196f3;
}
.modal-close:hover .modal-close-icon {
  fill: #2196f3;
}

.modal-title {
  font-family: roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 12px;
  color: #212121;
}

.modal.form {
  padding: 40px;
}

.input-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.input-wrap {
  position: relative;
  margin-bottom: 10px;
}

.modal-input {
  width: 100%;
  max-width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
}
.modal-input:focus {
  border-color: #2196f3;
  outline: #2196f3;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
}
.modal-input:focus .modal-icon {
  fill: #2196f3;
}

.modal-comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding: 12px 16px;
}
.modal-comment:focus {
  border-color: #2196f3;
  outline: #2196f3;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.check-text {
  font-family: roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  justify-content: center;
}
.modal-check:checked + .check-text::before {
  background-color: #2196f3;
  border: none;
  background-image: url(../images/Vector.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.check-text::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid #303030;
  border-radius: 2px;
  margin-right: 8px;
}

.check-link {
  color: #2196f3;
}

.wrapper {
  margin-right: 5px;
}

.modal-btn {
  display: block;
  padding: 10px 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  align-items: center;
  margin: 0 auto;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}
.modal-btn:focus {
  background-color: #188ce8;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}/*# sourceMappingURL=main.css.map */