.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923;
  color: #000000;
  display: inline-block;
  padding-bottom: 25px;
  padding-top: 24px;
}

.navigation__logo {
  margin-right: 93px;
  text-decoration: none;
}

.logo__first {
  color: #2196f3;
}

.navigation {
  display: flex;
  align-items: center;
}

.menu {
  display: none;
  gap: 50px;
  @include tablet {
    display: flex;
  }
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  margin-bottom: 0;
  border-bottom: 1px solid #ececec;
}

.menu__link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.02em;
  color: var(--title-color);
  display: inline-block;
  padding-bottom: 32px;
  padding-top: 32px;
  text-decoration: none;
  transition: color var(--tra);
  &:hover,
  &:focus {
    color: #2196f3;
  }
}

.menu__link.current {
  position: relative;
  color: #2196f3;
}

.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  margin-top: 28px;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  transform: translateY(1px);
}

.contact {
  display: none;
  gap: 30px;
  @include tablet {
    display: block;
  }
  @include desktop {
    display: flex;
    align-items: center;
  }
}

.contact__item {
  display: flex;
}

.contact__item:not(:last-child) {
  margin-bottom: 10px;
  @include desktop {
    margin-bottom: 0;
  }
}

.contact__link {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.1428;
  letter-spacing: 0.02em;
  color: var(--text-color);
  display: flex;
  // padding-bottom: 30px;
  // padding-top: 30px;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  transition: color var(--tra), fill color;
  &:hover,
  &:focus {
    color: #2196f3;
  }
  @include desktop {
    font-size: 14px;
  }
}

.contact__icon {
  fill: var(--text-color);
  .contact__link:hover & {
    fill: #2196f3;
  }
  .contact__link:focus & {
    fill: #2196f3;
  }
}

.menu-open {
  background: transparent;
  border: none;
  @include tablet {
    display: none;
  }
}

.mob-menu {
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  padding: 10px 15px 48px 40px;
  > .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
  }
  @include tablet {
    display: none;
  }
}

.menu-close {
  position: relative;
  display: block;
  margin-left: auto;
  width: 40px;
  height: 40px;
  padding: 11px;
  background-color: #ffffff;
  border: none;
  &:hover .menu-close-icon,
  &:focus .menu-close-icon {
    fill: #2196f3;
  }
}

.menu-close-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 19px;
  height: 19px;
  transform: translate(-50%, -50%);
  fill: #212121;
}

.mob-menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-mob__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-mob__item {
  color: #212121;
  display: flex;
}

.menu-mob__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: calc(47 / 40);
  letter-spacing: 0.02em;
  color: #212121;
  &:hover,
  &:focus {
    color: #2196f3;
  }
}

.menu-mob__link.current {
  position: relative;
  color: #2196f3;
}

.contact-mob {
  margin-bottom: 64px;
}

.contact-mob__item:not(:last-child) {
  margin-bottom: 32px;
}

.contact-mob__link-mob {
  text-decoration: none;
  color: #2196f3;
  font-weight: 500;
  font-size: 34px;
  line-height: calc(40 / 34);
  letter-spacing: 0.02em;
}

.contact-mob__link {
  text-decoration: none;
  color: #757575;
  font-weight: 500;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.02em;
}

.mob-soc {
  display: flex;
  gap: 20px;
}

.mob-soc-item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mob-soc-item:not(:first-child) {
  margin-left: -10px;
}

.mob-soc-link {
  text-decoration: none;
  color: #2196f3;
}
